.chart {
    width: 100%;
    height: 100%;
    background: gray;
    cursor: grabbing;
    user-select: none;
    position: relative;
}

.background {
    position: absolute;
    background: #991111dd;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.grid-bacground {
    width: 100%;
    height: 100%;
}

.text {
    font: italic 2px sans-serif;
}